beautifulsoup4==4.13.4
dominate==2.8.0
lpips==0.1.4
matplotlib==3.7.5
networkx==3.1
numpy==1.24.4
Pillow==11.3.0
ptflops==0.7.3
pytorch_msssim==1.0.0
Requests==2.32.4
scipy==1.10.1
skimage==0.0
thop==0.1.1.post2209072238
torch==1.13.1+cu116
torch_summary==1.4.5
torchinfo==1.8.0
torchvision==0.14.1+cu116
visdom==0.2.4
